* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

.btn {
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    position: relative;
}

.btn2 {
    height: 42px;
    width: 143px;
    background-color: #fff;
    color: black;
    display: inline-block;
    line-height: 42px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* common css part */
/* banner css part start */
#banner {
    height: 646px;
    width: 1321px;
    background-color: #161616;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 0 auto 100px;
    position: relative;
    margin-top: 20px;
}

#banner:hover .banner_ball {
    top: 0px;
    left: 0px;
    opacity: 1;
}

.banner_ball {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: skyblue;
    border-radius: 50%;
    top: 44px;
    left: 809px;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}



.banner_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner_text {
    width: 39%;
    color: #fff;
}

.banner_text h1 {
    font-weight: 700;
    font-size: 70px;
}

.banner_text p {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0 35px;
}

.banner_pic {
    width: 46%;
}

.banner_pic img {
    width: 100%;

}

/* banner css part end */
/* middle css part start*/
.middle_part {
    width: 1321px;
    margin: 0 auto 100px;
}


.middle_part_main {
    display: flex;
    column-gap: 20px;
}

.middle_single_menu {
    height: 279px;
    width: 279px;
    background-color: #161616;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid green;
}

.middle_single_menu li {
    margin: 39px 0;
}

.middle_single_menu li .btn2:hover {
    background-color: #DD0000;
    color: #fff;
}

.middle_dual_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.dual_item {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.dual_thamnail img {
    width: 100%;
}

.dual_text h4 {
    margin: 10px 0;
}

.dual_text .secon_spa {
    margin-left: 10px;
}

.dual_text button {
    margin-top: 10px;
    padding: 5px 30px;
}

.hidden_btn {
    text-align: center;
    margin-top: 54px;
    display: none;
}

/* middle css part end */

footer {
    padding: 73px;
    background-color: #161616;
    text-align: center;
    color: #fff;

}

hr {
    margin: 30px 0;
}

.footer_text {
    display: flex;
    justify-content: space-evenly;
}

.footer_icon {
    color: #fff;
    font-size: 30px;
    margin-top: 65px;
}

.footer_icon a {
    color: #fff;
    padding: 0 7px;
}

/* upcoming part start */
.dual_flag_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}

.flag_item {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.flag_img span {
    position: relative;
    top: -17px;
    left: 0;
}

.flag_text {
    text-align: center;
}

.flag_text h4 {
    margin: 15px 0;
}

/* upcoming part end */







/* reponsive design */
/* mobile device */
@media only screen and (max-width: 600px) {
    #banner {
        height: 472px;
        width: 334px;
    }

    .banner_ball {
        display: none;
    }

    .banner_main {
        flex-direction: column;
    }

    .banner_text {
        width: 70%;
        margin-top: 30px;
    }

    .banner_text h1 {
        font-weight: 700;
        font-size: 22px;
    }

    .banner_pic {
        width: 53%;
        margin-top: 20px;
    }

    .middle_part {
        width: 100%;
    }

    .middle_single_menu {
        background-color: transparent;
    }

    .btn2 {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .middle_part_main {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .middle_dual_main {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_text {
        flex-direction: column;
        row-gap: 18px;
    }

    /* next page upcomming part */
    .dual_flag_main {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* tab device */
@media only screen and (min-width: 768px) and (max-width:991px) {
    #banner {
        width: 734px;
        height: 398px;
    }

    .banner_ball {
        display: none;
    }

    .banner_text h1 {
        font-weight: 700;
        font-size: 40px;
    }

    .banner_text {
        width: 42%;
    }

    .banner_pic {
        width: 51%;

    }

    .middle_part {
        width: 100%;
    }

    .middle_part_main {
        flex-direction: column;
    }

    .middle_single_menu {
        height: 74px;
        background-color: transparent;
        border: none;
        display: flex;
    }

    .middle_single_menu li {
        margin: 0 61px;
    }

    .btn2 {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .middle_dual_main {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }

    .hidden_btn {
        text-align: center;
        margin-top: 54px;
        display: block;
    }

    /* next page upcomming part */
    .dual_flag_main {
        grid-template-columns: repeat(2, 1fr);
    }

    .flag_img {
        text-align: center;
    }
}